# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Database
*.db
*.sqlite3

# ChromaDB
vector_db/

# Uploaded Documents
storage/documents/

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/